[Desktop Entry]
Version=1.1
Type=Application
Name=AZP About
Name[az]=AZP Haqqında
Name[tr]=AZP Hakkında
Comment=AZP Package Manager About
Comment[az]=AZP Paket Meneceri Haqqında
Comment[tr]=AZP Paket Yöneticisi Hakkında
Exec=azp-about
Icon=/usr/share/pixmaps/azp-logo.png
Categories=System;FileTools;GTK;
StartupNotify=true
